<h1>Carritos en tiempo real</h1>
<button id="createCart">Crear carrito</button>

<div id="cartsList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeCarts.js"></script>
